PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@clusterw.fcwze6z.mongodb.net/watchparty?retryWrites=true&w=majority
CLIENT_URL=http://localhost:3000
GUEST_JWT_SECRET=replace_with_a_32_byte_random_secret
EXTENSION_TOKEN_SECRET=replace_with_a_32_byte_random_secret
